---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Submit a Snippet">
<main>
<h1>Submit a Snippet</h1>
<form style="">
    <label>
        <span>Title:</span>
        <input name="title" />
    </label>
    <label>
        <p>Description:</p>
        <textarea name="description" cols="50" rows="5"></textarea>
    </label>
    <label>
        <span>Language:</span>
        <select>
            <option value="rust">Rust</option>
        </select>
    </label>
    <label>
        <p>Snippet:</p>
        <textarea name="snippet" cols="50" rows="10"></textarea>
    </label>
    <button class="submit-button" type="submit">Submit</button>
</form>
</main>
</Layout>

<style>
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

input, select, textarea {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    background: rgba(50,50,50,1);
    border: none;
    color: white;
}

h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

.submit-button {
    cursor: default;
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    font-size: 1.25rem;
    background: rgba(50,50,50,0.7);
    color: white;
}
</style>
